.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    font-size: 2rem;
    color: plum;
    font-weight: bold;
}

.nav {
    display: flex;
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

.lien {
    text-decoration: none;
    padding-right: 2rem;
    color: black;
}

.lien:hover {
    color: red;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}